<div
  class="fullscreen"
  [class.fade-out]="fade"
  [class.widget-mode]="widgetMode"
>
  <div class="circular-light"></div>
  <div class="circular-light"></div>
  <div class="circular-light"></div>
  <div class="fullscreen-content">
    <bs-logo
      type="bs"
      size="md"
      color="white"
      class="md bs hydrated"
      tabindex="0"
    ></bs-logo>
    <div style="display: flex; justify-content: center; align-items: center">
      <h2>{{ "GenAI Chatbot" | typing | async }}</h2>
      <span class="cursor"></span>
    </div>
    <!-- <div>
      <bs-dropdown
        class="mb-sm"
        [options]="[]"
        id="domain"
        name="domain"
        [label]="'Dominio'"
      >
      </bs-dropdown>
      <bs-dropdown
        [options]="[]"
        id="subdomain"
        name="subdomain"
        [label]="'Subdominio'"
        disabled
      >
      </bs-dropdown>
    </div> -->
    <div class="switch">
      <bs-switch
        class="switch-row mr-sm"
        [checked]="widgetMode"
        (bsSwitchChange)="toggleWidget()"
      />
      <span>Widget</span>
    </div>
    <button (click)="hide()">Chatear</button>
  </div>
</div>
