:root {
  --bs-token-border-none: 0;
  --bs-token-border-sm: solid 1px;
  --bs-token-border-md: solid 2px;
  --bs-token-border-lg: solid 4px;
  --bs-token-border-gamma-none: 0;
  --bs-token-border-gamma-sm: solid 1px;
  --bs-token-border-gamma-md: solid 2px;
  --bs-token-border-gamma-lg: solid 4px;
  --bs-token-breakpoint-xs: 480px;
  --bs-token-breakpoint-sm: 768px;
  --bs-token-breakpoint-md: 1024px;
  --bs-token-breakpoint-lg: 1280px;
  --bs-token-breakpoint-xl: 1440px;
  --bs-token-breakpoint-xxl: 1920px;
  --bs-token-breakpoint-gamma-xs: 480px;
  --bs-token-breakpoint-gamma-sm: 768px;
  --bs-token-breakpoint-gamma-md: 1024px;
  --bs-token-breakpoint-gamma-lg: 1280px;
  --bs-token-breakpoint-gamma-xl: 1440px;
  --bs-token-breakpoint-gamma-xxl: 1920px;
  --bs-token-color-blue-100: #e1f7ff;
  --bs-token-color-blue-500: #006dff;
  --bs-token-color-blue-600: #0051db;
  --bs-token-color-white: #ffffff;
  --bs-token-color-black: #000000;
  --bs-token-color-red-100: #ffd9e0;
  --bs-token-color-red-200: #ffa6b8;
  --bs-token-color-red-300: #ff6e86;
  --bs-token-color-red-400: #fa4153;
  --bs-token-color-red-500: #ed1c24;
  --bs-token-color-red-600: #ce0c05;
  --bs-token-color-red-700: #a81100;
  --bs-token-color-red-800: #801500;
  --bs-token-color-red-900: #661400;
  --bs-token-color-orange-100: #ffe1df;
  --bs-token-color-orange-200: #ffbdb6;
  --bs-token-color-orange-300: #ff8a73;
  --bs-token-color-orange-400: #ff7247;
  --bs-token-color-orange-500: #ff5b14;
  --bs-token-color-orange-600: #e25100;
  --bs-token-color-orange-700: #c24e00;
  --bs-token-color-orange-800: #9e4500;
  --bs-token-color-orange-900: #7a3900;
  --bs-token-color-green-100: #fbffcc;
  --bs-token-color-green-200: #f3ff99;
  --bs-token-color-green-300: #e5fa6b;
  --bs-token-color-green-400: #cdeb47;
  --bs-token-color-green-500: #a9d42c;
  --bs-token-color-green-600: #89bf15;
  --bs-token-color-green-700: #6eaf05;
  --bs-token-color-green-800: #519400;
  --bs-token-color-green-900: #3f7a00;
  --bs-token-color-pink-100: #ffd1f0;
  --bs-token-color-pink-200: #ff99da;
  --bs-token-color-pink-300: #ff57bc;
  --bs-token-color-pink-400: #ff1f9e;
  --bs-token-color-pink-500: #e2007a;
  --bs-token-color-pink-600: #cc005f;
  --bs-token-color-pink-700: #a80043;
  --bs-token-color-pink-800: #80002b;
  --bs-token-color-pink-900: #61001a;
  --bs-token-color-purple-100: #f9e6ff;
  --bs-token-color-purple-200: #efb2fe;
  --bs-token-color-purple-300: #e37cf8;
  --bs-token-color-purple-400: #cc4de0;
  --bs-token-color-purple-500: #a62bb4;
  --bs-token-color-purple-600: #901594;
  --bs-token-color-purple-700: #7a0676;
  --bs-token-color-purple-800: #620158;
  --bs-token-color-purple-900: #500043;
  --bs-token-color-grey-50: #fafafa;
  --bs-token-color-grey-100: #f5f5f5;
  --bs-token-color-grey-200: #eeeeee;
  --bs-token-color-grey-300: #e0e0e0;
  --bs-token-color-grey-400: #bdbdbd;
  --bs-token-color-grey-500: #9e9e9e;
  --bs-token-color-grey-600: #757575;
  --bs-token-color-grey-700: #616161;
  --bs-token-color-grey-800: #424242;
  --bs-token-color-grey-900: #212121;
  --bs-token-color-primary-100: #e1f7ff;
  --bs-token-color-primary-500: #006dff;
  --bs-token-color-primary-600: #0051db;
  --bs-token-color-secondary-01-100: #f9e6ff;
  --bs-token-color-secondary-01-200: #efb2fe;
  --bs-token-color-secondary-01-300: #e37cf8;
  --bs-token-color-secondary-01-400: #cc4de0;
  --bs-token-color-secondary-01-500: #a62bb4;
  --bs-token-color-secondary-01-600: #901594;
  --bs-token-color-secondary-01-700: #7a0676;
  --bs-token-color-secondary-01-800: #620158;
  --bs-token-color-secondary-01-900: #500043;
  --bs-token-color-secondary-02-100: #ffd1f0;
  --bs-token-color-secondary-02-200: #ff99da;
  --bs-token-color-secondary-02-300: #ff57bc;
  --bs-token-color-secondary-02-400: #ff1f9e;
  --bs-token-color-secondary-02-500: #e2007a;
  --bs-token-color-secondary-02-600: #cc005f;
  --bs-token-color-secondary-02-700: #a80043;
  --bs-token-color-secondary-02-800: #80002b;
  --bs-token-color-secondary-02-900: #61001a;
  --bs-token-color-tertiary-01-100: #fbffcc;
  --bs-token-color-tertiary-01-200: #f3ff99;
  --bs-token-color-tertiary-01-300: #e5fa6b;
  --bs-token-color-tertiary-01-400: #cdeb47;
  --bs-token-color-tertiary-01-500: #a9d42c;
  --bs-token-color-tertiary-01-600: #89bf15;
  --bs-token-color-tertiary-01-700: #6eaf05;
  --bs-token-color-tertiary-01-800: #519400;
  --bs-token-color-tertiary-01-900: #3f7a00;
  --bs-token-color-tertiary-02-100: #ffe1df;
  --bs-token-color-tertiary-02-200: #ffbdb6;
  --bs-token-color-tertiary-02-300: #ff8a73;
  --bs-token-color-tertiary-02-400: #ff7247;
  --bs-token-color-tertiary-02-500: #ff5b14;
  --bs-token-color-tertiary-02-600: #e25100;
  --bs-token-color-tertiary-02-700: #c24e00;
  --bs-token-color-tertiary-02-800: #9e4500;
  --bs-token-color-tertiary-02-900: #7a3900;
  --bs-token-color-success: #239d45;
  --bs-token-color-error: #be0028;
  --bs-token-color-warning: #f0a21d;
  --bs-token-color-info: #006dff;
  --bs-token-color-brands-bizum: #05c0c7;
  --bs-token-color-charts-secuencial-chart-1: #006dff;
  --bs-token-color-charts-secuencial-chart-2: #000000;
  --bs-token-color-charts-secuencial-chart-3: #dd01d6;
  --bs-token-color-charts-secuencial-chart-4: #69e3b2;
  --bs-token-color-charts-secuencial-chart-5: #f0a21d;
  --bs-token-color-charts-secuencial-chart-6: #61b4ff;
  --bs-token-color-charts-secuencial-chart-7: #ff94f5;
  --bs-token-color-charts-secuencial-chart-8: #afecd3;
  --bs-token-color-charts-secuencial-chart-9: #fbca8b;
  --bs-token-color-charts-secuencial-chart-10: #bababa;
  --bs-token-color-gamma-white: #FFFFFF;
  --bs-token-color-gamma-white-on-surface: #FFFFFF;
  --bs-token-color-gamma-black: #000000;
  --bs-token-color-gamma-black-on-surface: #000000;
  --bs-token-color-gamma-blue-100: #D8E9FF;
  --bs-token-color-gamma-blue-500: #006DFF;
  --bs-token-color-gamma-blue-600: #0051DB;
  --bs-token-color-gamma-pink: #FC00F4;
  --bs-token-color-gamma-green: #008626;
  --bs-token-color-gamma-grey-secondary-info-on-background: #212121;
  --bs-token-color-gamma-grey-secondary-info: #424242;
  --bs-token-color-gamma-grey-disabled: #757575;
  --bs-token-color-gamma-grey-borders: #BDBDBD;
  --bs-token-color-gamma-grey-skeleton: #E0E0E0;
  --bs-token-color-gamma-grey-background: #FAFAFA;
  --bs-token-color-gamma-grey-assets-background: #EEEEEE;
  --bs-token-color-gamma-primary-100: #D8E9FF;
  --bs-token-color-gamma-primary-500: #006DFF;
  --bs-token-color-gamma-primary-500-buttons: #006DFF;
  --bs-token-color-gamma-primary-hover: #0051DB;
  --bs-token-color-gamma-primary-disabled: #99C5FF;
  --bs-token-color-gamma-secondary-notification: #FC00F4;
  --bs-token-color-gamma-secondary-booster: #CCECDA;
  --bs-token-color-gamma-secondary-booster-hover: #88C7A4;
  --bs-token-color-gamma-feedback-error: #BE0028;
  --bs-token-color-gamma-feedback-warning: #F0A21D;
  --bs-token-color-gamma-feedback-warning-light: #F8CF8C;
  --bs-token-color-gamma-feedback-success: #008626;
  --bs-token-color-gamma-feedback-info: #006DFF;
  --bs-token-color-gamma-accesibility-primary: #006DF2;
  --bs-token-color-gamma-dark-white: #000000;
  --bs-token-color-gamma-dark-white-on-surface: #FFFFFF;
  --bs-token-color-gamma-dark-black: #FFFFFF;
  --bs-token-color-gamma-dark-black-on-surface: #000000;
  --bs-token-color-gamma-dark-blue-100: #E1F7FF;
  --bs-token-color-gamma-dark-blue-500: #0091FF;
  --bs-token-color-gamma-dark-blue-600: #0051DB;
  --bs-token-color-gamma-dark-pink: #FC00F4;
  --bs-token-color-gamma-dark-green: #008626;
  --bs-token-color-gamma-dark-grey-secondary-info: #EEEEEE;
  --bs-token-color-gamma-dark-grey-disabled: #BDBDBD;
  --bs-token-color-gamma-dark-grey-borders: #757575;
  --bs-token-color-gamma-dark-grey-skeleton: #525252;
  --bs-token-color-gamma-dark-grey-assets-background: #424242;
  --bs-token-color-gamma-dark-grey-background: #FFFFFF;
  --bs-token-color-gamma-dark-primary-100: #D8E9FF;
  --bs-token-color-gamma-dark-primary-500: #006DFF;
  --bs-token-color-gamma-dark-primary-500-buttons: #006DFF;
  --bs-token-color-gamma-dark-primary-hover: #0051DB;
  --bs-token-color-gamma-dark-secondary-notification: #FC00F4;
  --bs-token-color-gamma-dark-secondary-booster: #CCECDA;
  --bs-token-color-gamma-dark-secondary-booster-hover: #88C7A4;
  --bs-token-color-gamma-dark-feedback-error: #E8717d;
  --bs-token-color-gamma-dark-feedback-warning: #F5E852;
  --bs-token-color-gamma-dark-feedback-success: #51B869;
  --bs-token-color-gamma-dark-feedback-info: #006DFF;
  --bs-token-color-gamma-dark-accesibility-primary: #0091FF;
  --bs-token-divider-thin: 1px;
  --bs-token-divider-thick: 4px;
  --bs-token-divider-gamma-thin: 1px;
  --bs-token-divider-gamma-thick: 4px;
  --bs-token-focus: 0 0 0 2px #FFFFFF, 0 0 2px 5px #7FB6FF;
  --bs-token-focus-gamma: 0 0 0 2px #FFFFFF, 0 0 0 4px #0051DB;
  --bs-token-icon-size: 16px;
  --bs-token-icon-size-xs: 16px;
  --bs-token-icon-size-sm: 24px;
  --bs-token-icon-size-md: 32px;
  --bs-token-icon-size-lg: 40px;
  --bs-token-icon-font-family-filled: BsIconFilled;
  --bs-token-icon-font-family-outline: BsIconOutline;
  --bs-token-icon-line-height: 1;
  --bs-token-icon-font-style: normal;
  --bs-token-icon-font-weight: normal;
  --bs-token-icon-vertical-align: top;
  --bs-token-icon-gamma-size: 16px;
  --bs-token-icon-gamma-size-xs: 16px;
  --bs-token-icon-gamma-size-sm: 24px;
  --bs-token-icon-gamma-size-md: 32px;
  --bs-token-icon-gamma-size-lg: 40px;
  --bs-token-icon-gamma-font-family-filled: BsIconFilled;
  --bs-token-icon-gamma-font-family-outline: BsIconOutline;
  --bs-token-icon-gamma-line-height: 1;
  --bs-token-icon-gamma-font-style: normal;
  --bs-token-icon-gamma-font-weight: normal;
  --bs-token-icon-gamma-vertical-align: top;
  --bs-token-opacity-superlight: 0.2;
  --bs-token-opacity-light: 0.4;
  --bs-token-opacity-medium: 0.6;
  --bs-token-opacity-dark: 0.8;
  --bs-token-radius-none: none;
  --bs-token-radius-sm: 4px;
  --bs-token-radius-md: 8px;
  --bs-token-radius-lg: 16px;
  --bs-token-radius-full: 50%;
  --bs-token-radius-gamma-none: none;
  --bs-token-radius-gamma-sm: 4px;
  --bs-token-radius-gamma-md: 8px;
  --bs-token-radius-gamma-lg: 16px;
  --bs-token-radius-gamma-full: 50%;
  --bs-token-shadow-xs: 0 2px 2px 0 rgba(0,0,0,0.1), 0 3px 1px -2px rgba(0,0,0,0.05), 0 1px 5px 0 rgba(0,0,0,0.12);
  --bs-token-shadow-sm: 0 4px 5px 0 rgba(0,0,0,0.1), 0 1px 10px 3px rgba(0,0,0,0.05), 0 2px 4px -5px rgba(0,0,0,0.06);
  --bs-token-shadow-md: 0 8px 20px 1px rgba(0,0,0,0.05), 0 3px 14px 5px rgba(0,0,0,0.05), 0 5px 10px -5px rgba(0,0,0,0.03);
  --bs-token-shadow-lg: 0 16px 20px 2px rgba(0,0,0,0.05), 0 6px 20px 3px rgba(0,0,0,0.05), 0 16px 14px -5px rgba(0,0,0,0.03);
  --bs-token-shadow-xl: 0 16px 24px 2px rgba(0,0,0,0.05), 0 16px 24px 3px rgba(0,0,0,0.05), 0 24px 24px -5px rgba(0,0,0,0.03);
  --bs-token-shadow-gamma-md: 0 8px 20px 1px rgba(0,0,0,0.05), 0 3px 14px 5px rgba(0,0,0,0.05), 0 5px 10px -5px rgba(0,0,0,0.06);
  --bs-token-shadow-gamma-lg: 0 16px 20px 2px rgba(0,0,0,0.05), 0 6px 20px 3px rgba(0,0,0,0.05), 0 16px 14px -5px rgba(0,0,0,0.06);
  --bs-token-shadow-gamma-dark-md: 0 8px 20px 1px rgba(44,44,44,0.05), 0 3px 14px 5px rgba(44,44,44,0.05), 0 5px 10px -5px rgba(44,44,44,0.06);
  --bs-token-shadow-gamma-dark-lg: 0 16px 20px 2px rgba(66,66,66,0.05), 0 6px 20px 3px rgba(66,66,66,0.05), 0 16px 14px -5px rgba(66,66,66,0.06);
  --bs-token-spacing-xxxs: 4px;
  --bs-token-spacing-xxs: 8px;
  --bs-token-spacing-xs: 12px;
  --bs-token-spacing-sm: 16px;
  --bs-token-spacing-md: 24px;
  --bs-token-spacing-lg: 32px;
  --bs-token-spacing-xl: 40px;
  --bs-token-spacing-xxl: 48px;
  --bs-token-spacing-xxxl: 56px;
  --bs-token-spacing-xxxxl: 64px;
  --bs-token-spacing-gamma-xxxs: 4px;
  --bs-token-spacing-gamma-xxs: 8px;
  --bs-token-spacing-gamma-xs: 12px;
  --bs-token-spacing-gamma-sm: 16px;
  --bs-token-spacing-gamma-md: 24px;
  --bs-token-spacing-gamma-lg: 32px;
  --bs-token-spacing-gamma-xl: 40px;
  --bs-token-spacing-gamma-xxl: 48px;
  --bs-token-spacing-gamma-xxxl: 56px;
  --bs-token-spacing-gamma-xxxxl: 64px;
  --bs-token-transition-duration-instant: 0s;
  --bs-token-transition-duration-quick: .1s;
  --bs-token-transition-duration-short: .2s;
  --bs-token-transition-duration-long: .4s;
  --bs-token-transition-duration-fast: .2s;
  --bs-token-transition-duration-medium: .3s;
  --bs-token-transition-duration-slow: .5s;
  --bs-token-transition-type-ease: ease;
  --bs-token-transition-type-ease-in-out: ease-in-out;
  --bs-token-transition-type-linear: linear;
  --bs-token-transition-type-ease-in-v-1: cubic-bezier(0.64, 0, 0.78, 0);
  --bs-token-transition-type-ease-out-v-1: cubic-bezier(0.22, 1, 0.36, 1);
  --bs-token-transition-type-ease-in-back-v-1: cubic-bezier(0.36, 0, 0.66, -0.56);
  --bs-token-transition-type-ease-out-back-v-1: cubic-bezier(0.34, 1.56, 0.64, 1);
  --bs-token-transition-type-slow: cubic-bezier(0.34, 0.49, 0, 1);
  --bs-token-transition-gamma-duration-instant: 0s;
  --bs-token-transition-gamma-duration-quick: .1s;
  --bs-token-transition-gamma-duration-short: .2s;
  --bs-token-transition-gamma-duration-long: .4s;
  --bs-token-transition-gamma-duration-fast: .2s;
  --bs-token-transition-gamma-duration-medium: .3s;
  --bs-token-transition-gamma-duration-slow: .5s;
  --bs-token-transition-gamma-type-ease: ease;
  --bs-token-transition-gamma-type-ease-in-out: ease-in-out;
  --bs-token-transition-gamma-type-linear: linear;
  --bs-token-typography-libre-franklin: 'LibreFranklin', sans-serif;
  --bs-token-typography-public-sans: 'PublicSans', sans-serif;
  --bs-token-typography-number-font-type: 'LibreFranklin', sans-serif;
  --bs-token-typography-number-xxl-size: 56px;
  --bs-token-typography-number-xxl-letter-spacing: -0.5px;
  --bs-token-typography-number-xxl-line-height: 1.2;
  --bs-token-typography-number-xl-size: 40px;
  --bs-token-typography-number-xl-letter-spacing: -0.3px;
  --bs-token-typography-number-xl-line-height: 1.2;
  --bs-token-typography-number-lg-size: 32px;
  --bs-token-typography-number-lg-letter-spacing: -0.2px;
  --bs-token-typography-number-lg-line-height: 1.19;
  --bs-token-typography-number-md-size: 24px;
  --bs-token-typography-number-md-letter-spacing: normal;
  --bs-token-typography-number-md-line-height: 1.33;
  --bs-token-typography-number-sm-size: 18px;
  --bs-token-typography-number-sm-letter-spacing: normal;
  --bs-token-typography-number-sm-line-height: 1.56;
  --bs-token-typography-number-xs-size: 16px;
  --bs-token-typography-number-xs-letter-spacing: 0.1px;
  --bs-token-typography-number-xs-line-height: 1.5;
  --bs-token-typography-number-gamma-font-type: 'LibreFranklin', sans-serif;
  --bs-token-typography-number-gamma-font-weight-regular: 400;
  --bs-token-typography-number-gamma-font-weight-semibold: 600;
  --bs-token-typography-number-gamma-font-weight-bold: 700;
  --bs-token-typography-number-gamma-lg-size: 32px;
  --bs-token-typography-number-gamma-lg-letter-spacing: -0.2px;
  --bs-token-typography-number-gamma-lg-line-height: 1.19;
  --bs-token-typography-number-gamma-md-size: 24px;
  --bs-token-typography-number-gamma-md-letter-spacing: normal;
  --bs-token-typography-number-gamma-md-line-height: 1.33;
  --bs-token-typography-number-gamma-sm-size: 18px;
  --bs-token-typography-number-gamma-sm-letter-spacing: normal;
  --bs-token-typography-number-gamma-sm-line-height: 1.56;
  --bs-token-typography-number-gamma-xs-size: 16px;
  --bs-token-typography-number-gamma-xs-letter-spacing: 0.1px;
  --bs-token-typography-number-gamma-xs-line-height: 1.5;
  --bs-token-typography-title-font-type: 'LibreFranklin', sans-serif;
  --bs-token-typography-title-xxxl-size: 56px;
  --bs-token-typography-title-xxxl-letter-spacing: -0.5px;
  --bs-token-typography-title-xxxl-line-height: 1.2;
  --bs-token-typography-title-xxl-size: 48px;
  --bs-token-typography-title-xxl-letter-spacing: -0.3px;
  --bs-token-typography-title-xxl-line-height: 1.25;
  --bs-token-typography-title-xl-size: 40px;
  --bs-token-typography-title-xl-letter-spacing: -0.3px;
  --bs-token-typography-title-xl-line-height: 1.2;
  --bs-token-typography-title-lg-size: 32px;
  --bs-token-typography-title-lg-letter-spacing: -0.2px;
  --bs-token-typography-title-lg-line-height: 1.19;
  --bs-token-typography-title-md-size: 24px;
  --bs-token-typography-title-md-letter-spacing: normal;
  --bs-token-typography-title-md-line-height: 1.33;
  --bs-token-typography-title-sm-size: 18px;
  --bs-token-typography-title-sm-letter-spacing: normal;
  --bs-token-typography-title-sm-line-height: 1.56;
  --bs-token-typography-title-xs-size: 16px;
  --bs-token-typography-title-xs-letter-spacing: 0.1px;
  --bs-token-typography-title-xs-line-height: 1.5;
  --bs-token-typography-title-gamma-font-type: 'LibreFranklin', sans-serif;
  --bs-token-typography-title-gamma-font-weight-regular: 400;
  --bs-token-typography-title-gamma-font-weight-semibold: 600;
  --bs-token-typography-title-gamma-font-weight-bold: 700;
  --bs-token-typography-title-gamma-xxxl-size: 56px;
  --bs-token-typography-title-gamma-xxxl-letter-spacing: -0.5px;
  --bs-token-typography-title-gamma-xxxl-line-height: 1.2;
  --bs-token-typography-title-gamma-xxl-size: 48px;
  --bs-token-typography-title-gamma-xxl-letter-spacing: -0.3px;
  --bs-token-typography-title-gamma-xxl-line-height: 1.25;
  --bs-token-typography-title-gamma-xl-size: 40px;
  --bs-token-typography-title-gamma-xl-letter-spacing: -0.3px;
  --bs-token-typography-title-gamma-xl-line-height: 1.2;
  --bs-token-typography-title-gamma-lg-size: 32px;
  --bs-token-typography-title-gamma-lg-letter-spacing: -0.2px;
  --bs-token-typography-title-gamma-lg-line-height: 1.19;
  --bs-token-typography-title-gamma-md-size: 24px;
  --bs-token-typography-title-gamma-md-letter-spacing: normal;
  --bs-token-typography-title-gamma-md-line-height: 1.33;
  --bs-token-typography-title-gamma-sm-size: 18px;
  --bs-token-typography-title-gamma-sm-letter-spacing: normal;
  --bs-token-typography-title-gamma-sm-line-height: 1.56;
  --bs-token-typography-title-gamma-xs-size: 16px;
  --bs-token-typography-title-gamma-xs-letter-spacing: 0.1px;
  --bs-token-typography-title-gamma-xs-line-height: 1.5;
  --bs-token-typography-blockquote-font-type: 'PublicSans', sans-serif;
  --bs-token-typography-blockquote-size: 24px;
  --bs-token-typography-blockquote-letter-spacing: normal;
  --bs-token-typography-blockquote-line-height: 1.33;
  --bs-token-typography-text-font-type: 'PublicSans', sans-serif;
  --bs-token-typography-text-font-weight-regular: 400;
  --bs-token-typography-text-font-weight-bold: 700;
  --bs-token-typography-text-lg-size: 18px;
  --bs-token-typography-text-lg-letter-spacing: normal;
  --bs-token-typography-text-lg-line-height: 1.75;
  --bs-token-typography-text-md-size: 16px;
  --bs-token-typography-text-md-letter-spacing: normal;
  --bs-token-typography-text-md-line-height: 1.5;
  --bs-token-typography-text-sm-size: 14px;
  --bs-token-typography-text-sm-letter-spacing: normal;
  --bs-token-typography-text-sm-line-height: 1.25;
  --bs-token-typography-text-gamma-font-type: 'LibreFranklin', sans-serif;
  --bs-token-typography-text-gamma-font-weight-regular: 400;
  --bs-token-typography-text-gamma-font-weight-semibold: 600;
  --bs-token-typography-text-gamma-font-weight-bold: 700;
  --bs-token-typography-text-gamma-xxs-size: 14px;
  --bs-token-typography-text-gamma-xxs-letter-spacing: normal;
  --bs-token-typography-text-gamma-xxs-line-height: 1.5;
  --bs-token-typography-text-gamma-xs-size: 16px;
  --bs-token-typography-text-gamma-xs-letter-spacing: normal;
  --bs-token-typography-text-gamma-xs-line-height: 1.5;
  --bs-token-typography-text-gamma-sm-size: 18px;
  --bs-token-typography-text-gamma-sm-letter-spacing: normal;
  --bs-token-typography-text-gamma-sm-line-height: 1.25;
  --bs-token-typography-caption-font-type: 'PublicSans', sans-serif;
  --bs-token-typography-caption-font-weight-regular: 400;
  --bs-token-typography-caption-font-weight-bold: 700;
  --bs-token-typography-caption-lg-size: 14px;
  --bs-token-typography-caption-lg-letter-spacing: normal;
  --bs-token-typography-caption-lg-line-height: 1.43;
  --bs-token-typography-caption-sm-size: 12px;
  --bs-token-typography-caption-sm-letter-spacing: normal;
  --bs-token-typography-caption-sm-line-height: 1.33;
  --bs-token-typography-caption-gamma-font-type: 'LibreFranklin', sans-serif;
  --bs-token-typography-caption-gamma-font-weight-regular: 400;
  --bs-token-typography-caption-gamma-font-weight-bold: 700;
  --bs-token-typography-caption-gamma-xxs-size: 14px;
  --bs-token-typography-caption-gamma-xxs-letter-spacing: normal;
  --bs-token-typography-caption-gamma-xxs-line-height: 1.43;
  --bs-token-asset-font-libre-franklin-regular-name: "LibreFranklin";
  --bs-token-asset-font-libre-franklin-regular-style: "normal";
  --bs-token-asset-font-libre-franklin-regular-weight: "400";
  --bs-token-asset-font-libre-franklin-regular-ttf: "assets/fonts/LibreFranklin-Regular.ttf";
  --bs-token-asset-font-libre-franklin-regular-eot: "assets/fonts/LibreFranklin-Regular.eot";
  --bs-token-asset-font-libre-franklin-regular-otf: "assets/fonts/LibreFranklin-Regular.otf";
  --bs-token-asset-font-libre-franklin-regular-woff: "assets/fonts/LibreFranklin-Regular.woff";
  --bs-token-asset-font-libre-franklin-regular-woff-2: "assets/fonts/LibreFranklin-Regular.woff2";
  --bs-token-asset-font-libre-franklin-italic-name: "LibreFranklin";
  --bs-token-asset-font-libre-franklin-italic-style: "italic";
  --bs-token-asset-font-libre-franklin-italic-weight: "400";
  --bs-token-asset-font-libre-franklin-italic-ttf: "assets/fonts/LibreFranklin-Italic.ttf";
  --bs-token-asset-font-libre-franklin-italic-eot: "assets/fonts/LibreFranklin-Italic.eot";
  --bs-token-asset-font-libre-franklin-italic-otf: "assets/fonts/LibreFranklin-Italic.otf";
  --bs-token-asset-font-libre-franklin-italic-woff: "assets/fonts/LibreFranklin-Italic.woff";
  --bs-token-asset-font-libre-franklin-italic-woff-2: "assets/fonts/LibreFranklin-Italic.woff2";
  --bs-token-asset-font-libre-franklin-semibold-name: "LibreFranklin";
  --bs-token-asset-font-libre-franklin-semibold-style: "normal";
  --bs-token-asset-font-libre-franklin-semibold-weight: "600";
  --bs-token-asset-font-libre-franklin-semibold-ttf: "assets/fonts/LibreFranklin-SemiBold.ttf";
  --bs-token-asset-font-libre-franklin-semibold-eot: "assets/fonts/LibreFranklin-SemiBold.eot";
  --bs-token-asset-font-libre-franklin-semibold-otf: "assets/fonts/LibreFranklin-SemiBold.otf";
  --bs-token-asset-font-libre-franklin-semibold-woff: "assets/fonts/LibreFranklin-SemiBold.woff";
  --bs-token-asset-font-libre-franklin-semibold-woff-2: "assets/fonts/LibreFranklin-SemiBold.woff2";
  --bs-token-asset-font-libre-franklin-semibold-italic-name: "LibreFranklin";
  --bs-token-asset-font-libre-franklin-semibold-italic-style: "italic";
  --bs-token-asset-font-libre-franklin-semibold-italic-weight: "600";
  --bs-token-asset-font-libre-franklin-semibold-italic-ttf: "assets/fonts/LibreFranklin-SemiboldItalic.ttf";
  --bs-token-asset-font-libre-franklin-semibold-italic-eot: "assets/fonts/LibreFranklin-SemiboldItalic.eot";
  --bs-token-asset-font-libre-franklin-semibold-italic-otf: "assets/fonts/LibreFranklin-SemiboldItalic.otf";
  --bs-token-asset-font-libre-franklin-semibold-italic-woff: "assets/fonts/LibreFranklin-SemiboldItalic.woff";
  --bs-token-asset-font-libre-franklin-semibold-italic-woff-2: "assets/fonts/LibreFranklin-SemiboldItalic.woff2";
  --bs-token-asset-font-libre-franklin-bold-name: "LibreFranklin";
  --bs-token-asset-font-libre-franklin-bold-style: "normal";
  --bs-token-asset-font-libre-franklin-bold-weight: "700";
  --bs-token-asset-font-libre-franklin-bold-ttf: "assets/fonts/LibreFranklin-Bold.ttf";
  --bs-token-asset-font-libre-franklin-bold-eot: "assets/fonts/LibreFranklin-Bold.eot";
  --bs-token-asset-font-libre-franklin-bold-otf: "assets/fonts/LibreFranklin-Bold.otf";
  --bs-token-asset-font-libre-franklin-bold-woff: "assets/fonts/LibreFranklin-Bold.woff";
  --bs-token-asset-font-libre-franklin-bold-woff-2: "assets/fonts/LibreFranklin-Bold.woff2";
  --bs-token-asset-font-libre-franklin-bold-italic-name: "LibreFranklin";
  --bs-token-asset-font-libre-franklin-bold-italic-style: "italic";
  --bs-token-asset-font-libre-franklin-bold-italic-weight: "700";
  --bs-token-asset-font-libre-franklin-bold-italic-ttf: "assets/fonts/LibreFranklin-BoldItalic.ttf";
  --bs-token-asset-font-libre-franklin-bold-italic-eot: "assets/fonts/LibreFranklin-BoldItalic.eot";
  --bs-token-asset-font-libre-franklin-bold-italic-otf: "assets/fonts/LibreFranklin-BoldItalic.otf";
  --bs-token-asset-font-libre-franklin-bold-italic-woff: "assets/fonts/LibreFranklin-BoldItalic.woff";
  --bs-token-asset-font-libre-franklin-bold-italic-woff-2: "assets/fonts/LibreFranklin-BoldItalic.woff2";
  --bs-token-asset-font-public-sans-regular-name: "PublicSans";
  --bs-token-asset-font-public-sans-regular-style: "normal";
  --bs-token-asset-font-public-sans-regular-weight: "400";
  --bs-token-asset-font-public-sans-regular-ttf: "assets/fonts/PublicSans-Regular.ttf";
  --bs-token-asset-font-public-sans-regular-eot: "assets/fonts/PublicSans-Regular.eot";
  --bs-token-asset-font-public-sans-regular-otf: "assets/fonts/PublicSans-Regular.otf";
  --bs-token-asset-font-public-sans-regular-woff: "assets/fonts/PublicSans-Regular.woff";
  --bs-token-asset-font-public-sans-regular-woff-2: "assets/fonts/PublicSans-Regular.woff2";
  --bs-token-asset-font-public-sans-bold-name: "PublicSans";
  --bs-token-asset-font-public-sans-bold-style: "normal";
  --bs-token-asset-font-public-sans-bold-weight: "700";
  --bs-token-asset-font-public-sans-bold-ttf: "assets/fonts/PublicSans-Bold.ttf";
  --bs-token-asset-font-public-sans-bold-eot: "assets/fonts/PublicSans-Bold.eot";
  --bs-token-asset-font-public-sans-bold-otf: "assets/fonts/PublicSans-Bold.otf";
  --bs-token-asset-font-public-sans-bold-woff: "assets/fonts/PublicSans-Bold.woff";
  --bs-token-asset-font-public-sans-bold-woff-2: "assets/fonts/PublicSans-Bold.woff2";
  --bs-token-asset-font-public-sans-italic-name: "PublicSans";
  --bs-token-asset-font-public-sans-italic-style: "italic";
  --bs-token-asset-font-public-sans-italic-weight: "400";
  --bs-token-asset-font-public-sans-italic-ttf: "assets/fonts/PublicSans-Italic.ttf";
  --bs-token-asset-font-public-sans-italic-eot: "assets/fonts/PublicSans-Italic.eot";
  --bs-token-asset-font-public-sans-italic-otf: "assets/fonts/PublicSans-Italic.otf";
  --bs-token-asset-font-public-sans-italic-woff: "assets/fonts/PublicSans-Italic.woff";
  --bs-token-asset-font-public-sans-italic-woff-2: "assets/fonts/PublicSans-Italic.woff2";
  --bs-token-asset-font-public-sans-bold-italic-name: "PublicSans";
  --bs-token-asset-font-public-sans-bold-italic-style: "italic";
  --bs-token-asset-font-public-sans-bold-italic-weight: "700";
  --bs-token-asset-font-public-sans-bold-italic-ttf: "assets/fonts/PublicSans-BoldItalic.ttf";
  --bs-token-asset-font-public-sans-bold-italic-eot: "assets/fonts/PublicSans-BoldItalic.eot";
  --bs-token-asset-font-public-sans-bold-italic-otf: "assets/fonts/PublicSans-BoldItalic.otf";
  --bs-token-asset-font-public-sans-bold-italic-woff: "assets/fonts/PublicSans-BoldItalic.woff";
  --bs-token-asset-font-public-sans-bold-italic-woff-2: "assets/fonts/PublicSans-BoldItalic.woff2";
  --bs-token-asset-font-icon-filled-name: "BsIconFilled";
  --bs-token-asset-font-icon-filled-ttf: "assets/fonts/filled.ttf";
  --bs-token-asset-font-icon-filled-eot: "assets/fonts/filled.eot";
  --bs-token-asset-font-icon-filled-woff: "assets/fonts/filled.woff";
  --bs-token-asset-font-icon-filled-woff-2: "assets/fonts/filled.woff2";
  --bs-token-asset-font-icon-outline-name: "BsIconOutline";
  --bs-token-asset-font-icon-outline-ttf: "assets/fonts/outline.ttf";
  --bs-token-asset-font-icon-outline-eot: "assets/fonts/outline.eot";
  --bs-token-asset-font-icon-outline-woff: "assets/fonts/outline.woff";
  --bs-token-asset-font-icon-outline-woff-2: "assets/fonts/outline.woff2";
  --bs-token-z-index-xxs: 1;
  --bs-token-z-index-xs: 100;
  --bs-token-z-index-sm: 200;
  --bs-token-z-index-md: 300;
  --bs-token-z-index-lg: 400;
  --bs-token-z-index-xl: 500;
  --bs-token-z-index-xxl: 600;
  --bs-token-z-index-gamma-xxs: 1;
  --bs-token-z-index-gamma-xs: 100;
  --bs-token-z-index-gamma-sm: 200;
  --bs-token-z-index-gamma-md: 300;
  --bs-token-z-index-gamma-lg: 400;
  --bs-token-z-index-gamma-xl: 500;
  --bs-token-z-index-gamma-xxl: 600;
}
